.nav {
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: darkgray;
}

.nav button {
	display: block;
	width: 100%;
	background-color: gray;
	color: white;
	padding: 12px;
	border: 1px solid black;
}

.nav button:hover {
	background-color: lightgray;
	cursor: pointer;
}

.message {
	margin: 20px;
	width: 480px;
	height: 64px;
	border: 1px solid black;
	border-radius: 20px;
	padding: 0px 20px;
	display: flex;
	flex-direction: row;
}

.message p {
	font-weight: bold;
	width: 100%;
	margin: auto 0px;
}

.message button {
	border-radius: 12px;
	border: 1px solid black;
	width: 40px;
	height: 40px;
	margin: auto;
	background-color: transparent;
	font-size: 28px;
}

.message.success {
	background-color: lightgreen;
}

.message.failure {
	background-color: pink;
}

.comment-card {
	width: 640px;
	margin: 20px;
	border: 2px solid black;
	padding: 12px;
	border-radius: 12px;
	background-color: lightgray;
	text-align: justify;
}

.comment-card p {
	margin: 0;
}

.comment-card .comment-name {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 8px;
}

.comment-card .comment-email {
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
	margin-bottom: 12px;
}

.comment-card .comment-body {
	font-size: 18px;
	font-weight: normal;
}

input,
textarea {
	display: block;
	width: 600px;
	padding: 4px;
	font-size: 20px;
	border: 1px solid black;
	margin: 16px;
}

textarea {
	height: 92px;
	resize: none;
}
